{% load static %}
<div class="base">
    <div class="profile">
      <div class="photo">
        <img src="{% static 'images/as.jpeg' %}" />
        <i class="fas fa-rocket"></i>
      </div>
      <div class="info">
        <h1 class="name">alexandru serban</h1>
        <h2 class="job">command center - first level support</h2>
      </div>
    </div>
    <div class="about">
      <h3>About Me</h3>
      <p>I'm a flexible person that people can rely on to put things into motion and
        make something happen
      </p>
    </div>
    <div class="contact">
      <h3>Contact Me</h3>
      <div class="call"><a href="tel:+40773327115"><i class="fas fa-phone"></i><span>+40-773-327-115</span></a></div>
      <div class="address"><a href="https://www.google.com/maps/place/Bra%C8%99ov/@45.6524566,25.5262512,12z/data=!3m1!4b1!4m5!3m4!1s0x40b35b862aa214f1:0x6cf5f2ef54391e0f!8m2!3d45.6426802!4d25.5887252"><i class="fas fa-map-marker"></i><span>Brasov, Romania</span></a>
      </div>
      <div class="email"><a href="mailto:alexandru-am.serban@student.unitbv.ro"><i class="fas fa-envelope"></i><span>email</span></a></div>
    </div>
    <div class="follow">
      <h3>Follow Me</h3>
      <div class="box">
        <a href="https://www.linkedin.com/in/serban-alexandru-aa5020180/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/AlexandruSerban321" target="_blank"><i class="fab fa-github "></i></a>
      </div>
    </div>
</div>
